<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!-- Hibernate configuration, the datasource itself is defined in the application server. -->
<hibernate-configuration>
    <session-factory>
		<property name="connection.datasource">java:comp/env/jdbc/mysql</property>
		<property name="current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
    </session-factory>
</hibernate-configuration>
