<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- Default log4j configuration, useful for debugging from an IDE. -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="file" class="org.apache.log4j.FileAppender">
		<param name="file" value="${catalina.home}/logs/search.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] (%F:%L) - %m%n" />
		</layout>
	</appender>
	<logger name="net.mandor"><level value="debug" /></logger>
	<root><priority value="info" /><appender-ref ref="file" /></root>
</log4j:configuration>
